<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" required [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input #price="ngModel" [min]="0" required [(ngModel)]="product.price" name="price" type="text" id="price" class="form-control" />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            Price is required.
          </div>
          <div *ngIf="price.errors.min">
            Price should be 0 or higher.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="catogary">Catogary</label>
        <select #category="ngModel" required [(ngModel)]="product.catogary" name="catogary" id="catogary" class="form-control">
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.name">
            {{c.name}}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is required.
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">ImageUrl</label>
        <input url #imageUrl="ngModel" required [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">
            Image URL is required.
          </div>
          <div *ngIf="imageUrl.errors.url">
            Please enter a valid URL.
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button type="button" class="ml-2 btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img [src]="product.imageUrl" *ngIf="product.imageUrl" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency: 'USD':true}}</p>
      </div>
    </div>
  </div>
</div>